{/* This is the beamer slide template. It defines how presentations are formatted. */}

<<define "root">>
\documentclass[9pt]{beamer}

\usepackage[latin1]{inputenc}
\usepackage{colortbl}
\usepackage[english]{babel}

\newcommand{\colhref}[3][blue]{\href{#2}{\color{#1}{#3}}}%


\newcommand{\myblue} [1] {{\color{blue}#1}}
\newcommand{\newauthor}[4]{
  \parbox{0.26\textwidth}{
    \texorpdfstring
      {
        \centering
        #1 \\
        \colhref{#2}{\texttt{#3}} \\
        #4 \\
      }
      {#1}
  }
}

<<if hasCode>>
% for code colouring
\usepackage{minted}
<<end>>

% beamer template
\beamertemplatetransparentcovereddynamic
\usetheme{<<beamerTheme>>}

\hypersetup{%
  pdftitle={<<.Title | style>>},%
  <<.Authors | pdfAuthor>>%
}

\title[<<.Title | style>>]{<<.Title|style>>}
<<.Authors | texAuthor>>
<<if not .Time.IsZero>>\date{<<.Time.Format "2006-01-02">>}<<end>>

\begin{document}

\frame{\titlepage
}

\part<presentation>{Main Talk}

\section[slides]{slides}
<<range $i, $s := .Sections>>
\begin{frame}[fragile]
\frametitle{<<$s.Title | style>>}
<<if $s.Elem>>
<<range $s.Elem>><<elem $.Template .>><<end>>
<<else>>
<<end>>
\end{frame}
<<end>><</* of Slide block */>>
\end{document}
<<end>>

<<define "newline">>
\\
<<end>>

<<define "text">>
<<if .Pre>>
\begin{verbatim}
<<range .Lines>><<.>>
<<end>>
\end{verbatim}
<<else>><<range .Lines>><<. | style>>
<<end>><<end>>
<<end>>

<<define "list">>
\begin{itemize}
<<range .Bullet>>\item <<. | style>>
<<end>>\end{itemize}
<<end>>

<<define "code">>
\begin{minted}[]{<<.Ext | nodot>>}
<<.Raw | stringFromBytes>>
\end{minted}
<<end>>

<<define "image">>
\begin{figure}[h]
\begin{center}
\includegraphics[width=<<.Width>>cm,height=<<.Height>>cm]{<<.URL>>}
\end{center}
<<if .HasCaption>><<template "caption" .Caption>><<end>>
\end{figure}
<<end>>

<<define "caption">>
\caption{<<.Text>>}
<<end>>

<<define "link">>
\colhref{<<.URL>>}{\texttt{<<.Label|style>>}}
<<end>>

