{/* This is the bemaer slide template. It defines how presentations are formatted. */}

<<define "root">>
\documentclass[9pt]{beamer}

\usepackage[latin1]{inputenc}
\usepackage{colortbl}
\usepackage[english]{babel}

\newcommand{\myblue} [1] {{\color{blue}#1}}

% for code colouring
\include{pythonlisting}
\include{cpplisting}
\usepackage{minted}

% beamer template
\beamertemplatetransparentcovereddynamic
\usetheme{Berkeley}

\hypersetup{%
  pdftitle={<<.Title>>},%
}

\title[<<.Title>>]{<<.Title>>}
% FIXME(sbinet): authors
<<if not .Time.IsZero>>\date{<<.Time.Format "2006-01-02">>}<<end>>

\begin{document}

\frame{\titlepage
}

\part<presentation>{Main Talk}

\section[slides]{slides}

<<range $i, $s := .Sections>>
\begin{frame}[fragile]
\frametitle{<<$s.Title>>}
<<if $s.Elem>>
<<range $s.Elem>><<elem $.Template .>><<end>>
<<else>>
<<end>>
\end{frame}
<<end>><</* of Slide block */>>

\end{document}
<<end>>

<<define "newline">>
\\
<<end>>

<<define "text">>
<<if .Pre>>
\texttt{%
<<range .Lines>><<. | escapeTEX>>
<<end>>
}%
<<else>>
<<range .Lines>><<. | escapeTEX>>
<<end>>
<<end>>
<<end>>

<<define "list">>
\begin{itemize}
<<range .Bullet>>\item <<. | escapeTEX>>
<<end>>
\end{itemize}
<<end>>

<<define "code">>
\begin{minted}[]{<<.Ext | nodot>>}
<<.Raw | stringFromBytes>>
\end{minted}
<<end>>

<<define "image">>
\includegraphics[width=<<.Width>>px,height=<<.Height>>px]{<<.URL>>}
<<end>>

<<define "link">>
\myblue{\href{<<.URL>>}{\texttt{<<.Label>>}}}
<<end>>

